.nav_option
{
    border-left: solid 1px black;
}
.nav_option > a
{
    text-decoration: none;
    color: black;
}
.container
{
    width:1340px;
}
nav >.row
{
    width: 1720px;

}
.input
{ 
        padding: 12px 18px;
        border: 2px solid #ccc;
        border-radius: 10px;
        font-size: 16px;
        transition: 0.3s;
        width: 250px;
        width: 460px;
    
}
.mouse_icon > img
{
    
    width: 33px;
    height: 33px;
}
.facebook > img
{
    width: 24px;
    height: 47px;
    opacity: 1;

}
.serach > img
{
    width: 22px;
    height: 47px;
    opacity: 1;
}
.nav_option
{
    font-family: Barlow;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}
.logo
{
    background-image: url("logo.png");
    width: 273px;
    height: 56pxs;
}
.section1_left_div
{
    padding-right: 5%;
}
#magazine_img
{
    background: lightcoral;
    width:628px;
    height: 473px;
}
#magazine_text
{
    width: 628px;
    height: 575px;
    padding-top: 20%;
    padding: 10%;
}


.section1_img_space
{
    width: 320px;
    height: 233px;
    background-color: lightcoral;
}
.nav_option
{
    font-family:Barlow;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

}
main
{
    background-color: lightgray;
}
main h1
{
    font-family: Barlow;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;

}
main p
{
    font-family: Barlow;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}
main button
{
    background-color: #FFFFFF;
    padding-top: 11px;  
    padding-right: 31px;
    padding-bottom: 13px;
    padding-left: 31px;
    gap: 10px;

}
#magazine_text
{
    color: white;
    background-color: #4B4B4B;
    
}
#magazine_text > h1
{
    font-family: Barlow;
    font-weight: 500;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 10px;
}
#download
{
    background-color: #FFFFFF;
    padding-top: 11px;  
    padding-right: 31px;
    padding-bottom: 13px;
    padding-left: 31px;
    gap: 10px;
}
.see_more
{
    background: #C4C4C4;
    padding-top: 11px;  
    padding-right: 31px;
    padding-bottom: 13px;
    padding-left: 31px;
    gap: 10px;
    font-family: Barlow;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}
.see_more_p
{
    font-family: Barlow;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

}
.see_more_white
{
     background: white;
    padding-top: 11px;  
    padding-right: 31px;
    padding-bottom: 13px;
    padding-left: 31px;
    gap: 10px;
}
.section1_header_small_button
{

    padding-top: 11px;
    padding-right: 31px;
    padding-bottom: 13px;
    padding-left: 31px;
    gap: 10px;
    font-family: Barlow;
    font-weight: 600;
    font-size: 18px;

    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;


}
.section1_header_small_category
{
font-family: Barlow;
font-weight: 600;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: right;
color: #4B4B4B;
}
.section1_small_content_title
{
    font-family: Barlow;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;

}


.section1_header_small_text
{
    padding-top: 11px;
   
    padding-bottom: 13px;
    
    font-family: Barlow;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 660px;
    height: 38px;
    top: 2px;
}
.section1_small_text
{
    width: 320px;
}
.section1_small_text > h1
{
    font-family: Barlow;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 10px;

}
.section1_small_content
{
    font-family: Barlow;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}
.section2_content
{
    background-color: #C4C4C4;
    width: 660;
    height: 265;
    opacity: 1;
    padding-top: 150px;

    
}
.section2_content > h1
{
    font-family: Barlow;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}
.section2_content > p
{
    font-family: Barlow;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.text_border
{
    border: 1px solid #979797 ;
    color: #979797;
    gap: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 5px;    
    padding-left: 10px;
    border-width: 1px;
}
.section3_header_text
{
    width: 290px;
    height: 38px;
    opacity: 1;
    font-family: Barlow;
    font-weight: 700;
    font-size: 32px;    
    line-height: 100%;
    letter-spacing: 0%;
}
.section3_content > h1
{
    font-family: Barlow;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
     
}
.section3_content > p 
{
    font-family: Barlow;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
.section3_img_space
{
    background-color: lightcoral;
    width:304px;
    height: 265px;
}
.section4_img_space
{
    background-color: lightcoral;
    width:304px;
    height: 265px;
}
.section4_button
{
    padding: 20px;
}
#section4 
{
    background: #4B4B4B;
    color: white;
}
.section4_div_info
{
    background: white;
    color: black;
    
}
.section4_category
{
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}
.section4_header_content
{
    font-family: Barlow;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;

}
.section4_content
{
    font-family: Barlow;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}
.details
{
    font-family: Barlow;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

}
.section5_img_space
{
    background-color: lightcoral;
    width:287px;
    height: 185px;
}
.section5_header_content
{
    font-family: Barlow;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
}
.reportage_topic
{
    font-family: Barlow;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-left:10px;
}
.reportage_content
{
    font-family: Barlow;
    font-weight: 400;
    font-size: 18px;    
    line-height: 100%;
    letter-spacing: 0%;
    padding-left:10px;
}
.section6_right_div_title
{
    font-family: Barlow;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;

}
.section6_right_div_content
{
    font-family: Barlow;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
#section6 > .container
{
    background-color:#C4C4C4;
}
.news
{
        display: flex;
        flex-direction: column;
        align-items: center;  
        width: 304px;  
}
.news p 
{
    width: 100%;
    text-align: left; 
}.section7_element
{
    width: 304px;
}
.section7_img_space
{
    background-color: lightcoral;
    width:304px;
    height: 233px;
}

.section7_header_title
{
    font-family: Barlow;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;

}
.news_title
{
    font-family: Barlow;
    font-weight: 600;   
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
}
.news_content
{
    font-family: Barlow;
    font-weight: 400;
    font-size: 18px;    
    line-height: 100%;
    letter-spacing: 0%;
}
.container
{
    width:1320px;
}
.section8_header_title
{
    font-family: Barlow;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;

}
.section8_video_space
{
    background-color: lightblue;
    width:389px;
    height: 306px;
}
.film_name
{
    font-family: Barlow;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
}
.section8_element
{
        display: flex;
        flex-direction: column;
        align-items: center;  
        width: 285px;  
}
.section8_element p {
    width: 100%;
    text-align: left; 
}
.section9_header_title
{
    font-family: Barlow;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
}
.section9_img_space
{
    background-color: lightcoral;
    width:285px;
    height: 403px;
}
#section9
{
    background-color: #C4C4C4;
}
.edition_text_data
{
    font-family: Barlow;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
}
.edition_text_title
{
    font-family: Barlow;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
}
.edition
{
        display: flex;
        flex-direction: column;
        align-items: center;  
        width: 285px;  
}
.edition p 
{
    width: 100%;
    text-align: left; 
}
.download_p
{
    font-family: Barlow;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    
}
.see_more_dark
{
     background: #4B4B4B;
    padding-top: 11px;  
    padding-right: 31px;
    padding-bottom: 13px;
    padding-left: 31px;
    gap: 10px;
    color:white
}
footer 
{
    background-color: #4B4B4B;
    color: white;
}
.footer_bigger
{
    font-family: Barlow;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
}
section,main
{
    padding: 75px;
}
