.section1_article_header
{
    font-family: Barlow;
font-weight: 700;
font-size: 64px;
line-height: 100%;
letter-spacing: 0%;

}
.section1_article_date
{
    font-family: Barlow;
font-weight: 500;
font-size: 18px;

line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;

}
.section1_article_img_space
{
    width: 1294px;
    height: 514px;
    background-color: plum;
}
.way
{
    font-family: Barlow;
font-weight: 600;
font-size: 18px;

line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;

}
.section2_article_title
{
    font-family: Barlow;
font-weight: 700;
font-size: 36px;

line-height: 100%;
letter-spacing: 0%;

}
.section2_article_content
{
    font-family: Barlow;
font-weight: 400;
font-size: 20px;

line-height: 28px;
letter-spacing: 0%;

}
.section2_article_img_space_small
{
    width: 395px;
    height: 454px;
    background-color: plum;

}
.section2_article_img_space_big
{
    width: 887px;
    height: 454px;
    background-color: plum;

}
.section2_article_container {
    max-width: 887px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.section3_article_author_img
{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: plum;
}
.section3_article_author_name
{
    font-family: Barlow;
font-weight: 600;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;

}
.section3_article_author_desc
{
    font-family: Barlow;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}
.section3_article_author_info
{
    font-family: Barlow;
font-weight: 500;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: right;

}
.section3_article_share_button
{
    background-image: url("Share_Button.png");
    width: 142px;
    height: 39px;
    border: none;

}
.section4_article_header_title
{
    font-family: Barlow;
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;

}
.section4_article_img_space
{
    width: 304px;
    height: 222px;
    background-color: plum;


}
.section4_article_news_title
{
    font-family: Barlow;
font-weight: 600;
font-size: 26px;
line-height: 100%;
letter-spacing: 0%;

}
.section4_article_news_content
{
    font-family: Barlow;
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
}